<?xml version="1.0"?>

<!--
# Copyright 2021 Intelligent Robotics Lab
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
-->

<launch>
    <arg name="gui"        default="true" />
    <arg name="debug"      default="false" />
    <arg name="paused"     default="true" />
    <arg name="world_name" default="$(find tiago_sim_robocup2021)/worlds/wrs2020.world"/>
    <param name="/use_sim_time" value="true"/>

    <group>
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="world_name" value="$(arg world_name)"/>
      </include>
    </group>
</launch>
